Repository panteparak/vault-autounseal-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-mod-verify, golangci-lint, go-test

go-mod-tidy:
  name: go mod tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

go-mod-verify:
  name: go mod verify
  entry: go
  language: system
  args:
  - mod
  - verify
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: go
  language: system
  args:
  - run
  - github.com/golangci/golangci-lint/cmd/golangci-lint@latest
  - run
  - --fix
  - --timeout=5m
  pass_filenames: false

go-test:
  name: go test
  entry: go
  language: system
  args:
  - test
  - -race
  - -short
  - ./...
  pass_filenames: false

Notes added by 'git notes add'
  62c471043d78931bb77f8868b8e99d48fd3bf238
Due: none

fix: Handle empty existing index.yaml in Helm repository workflow
  .github/workflows/helm-repo.yaml
Due: none

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  VERSION
  helm/vault-autounseal-operator/Chart.yaml
Due: none

Notes added by 'git notes add'
  8264310dc6b49305e4b3fedf5f0db65ab2430960
Due: none

feat: Restrict Pages/Helm workflow to tags only and add auto-generated docs
  .github/workflows/helm-repo.yaml
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  VERSION
  helm/vault-autounseal-operator/Chart.yaml
Due: none

Notes added by 'git notes add'
  4d3bdcaa135119a1b34dd3a4768bca7036f178c3
Due: none

fix: Update deployment manifest for Go operator and improve Helm version preservation
  .github/workflows/helm-repo.yaml
  README.md
  manifests/deployment.yaml
Due: none

deploy: 27835fdbc3298b3222f298646d68d3883245913b
  index.html
  search/search_index.json
Due: none

fix: Add missing RBAC permissions for leader election
  manifests/deployment.yaml
  manifests/rbac.yaml
Due: none

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  VERSION
  helm/vault-autounseal-operator/Chart.yaml
Due: none

Notes added by 'git notes add'
  3dd60abb1ed9cd60a7ab804080007ffe72dbf873
Due: none

fix: Update controller-runtime configuration for metrics and health probes
  main.go
  manifests/deployment.yaml
Due: golangci-lint, go-test

fix: Align CI workflows with deployment strategy
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update-docs.yaml
  main.go
  manifests/deployment.yaml
Due: golangci-lint, go-test

feat: gitignore
  .dockerignore
  .github/workflows/resource-profiling.yml
  BUILD.md
  Dockerfile
  Makefile.testing
  TESTING.md
  docker-compose.dev.yml
  pkg/api/v1/types_test.go
  pkg/controller/integration_test.go
  pkg/controller/vaultunsealconfig_controller_test.go
  pkg/vault/benchmark_test.go
  pkg/vault/chaos_test.go
  pkg/vault/client.go
  pkg/vault/client_refactored_test.go
  pkg/vault/client_test.go
  pkg/vault/compatibility_test.go
  pkg/vault/comprehensive_test.go
  pkg/vault/errors.go
  pkg/vault/integration_extended_test.go
  pkg/vault/interfaces.go
  pkg/vault/load_test.go
  pkg/vault/mocks.go
  pkg/vault/property_test.go
  pkg/vault/security_test.go
  pkg/vault/strategy.go
  pkg/vault/strategy_test.go
  pkg/vault/test_config.go
  pkg/vault/test_helpers.go
  pkg/vault/test_runner.go
  pkg/vault/validator.go
  pkg/vault/validator_test.go
  scripts/build-optimized.sh
  scripts/prometheus.yml
Due: golangci-lint, go-test

deploy: 4c879a7eb8f6330e1d96d2f6037287afab1fb5f4
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: Add K3d-based integration tests with Helm chart deployment
  .github/workflows/integration-tests.yml
Due: none

Update integration tests to use Vault 1.20 with single node clusters
  .github/workflows/integration-tests.yml
  pkg/vault/block.prof
  pkg/vault/cpu.prof
  pkg/vault/mem.prof
  pkg/vault/mutex.prof
Due: none

Use helm upgrade --install to handle existing installations
  .github/workflows/integration-tests.yml
Due: none

Security audit: upgrade Go dependencies and fix vulnerabilities
  go.mod
  go.sum
  pkg/vault/test_config.go
  pkg/vault/test_helpers.go
  pkg/vault/test_runner.go
Due: go-mod-tidy, go-mod-verify, golangci-lint, go-test

feat: check crd
  .github/workflows/integration-tests.yml
Due: none

Fix Helm CRD handling using proper crds/ directory
  .github/workflows/integration-tests.yml
  helm/vault-autounseal-operator/crds/vaultunsealconfig.yaml
  helm/vault-autounseal-operator/values.yaml
Due: none

Restore Helm CRD create configuration with proper template handling
  .github/workflows/integration-tests.yml
  helm/vault-autounseal-operator/crds/vaultunsealconfig.yaml
  helm/vault-autounseal-operator/templates/crd.yaml
  helm/vault-autounseal-operator/values.yaml
Due: none

Implement dual image strategy: GHCR for production, local for integration tests
  helm/vault-autounseal-operator/values.yaml
Due: none

feat: adjust helm upgrade flag
  .github/workflows/integration-tests.yml
Due: none

Fix pod startup timeouts and improve health check configuration
  .github/workflows/integration-tests.yml
  helm/vault-autounseal-operator/templates/deployment.yaml
Due: none

Debug container startup failure: add build verification and target specification
  .github/workflows/integration-tests.yml
Due: none

Add comprehensive integration tests with real VaultUnsealConfig CRD resources
  .github/workflows/integration-tests.yml
Due: none

feat: gitignore
  .github/workflows/integration-tests.yml
  Dockerfile
  main.go
Due: golangci-lint, go-test

fix: Resolve shell script exit code issue in Vault startup validation
  .github/workflows/integration-tests.yml
Due: none

feat: Add comprehensive Vault unsealing validation and operator behavior testing
  .github/workflows/integration-tests.yml
Due: none

fix: Resolve critical golangci-lint compilation errors
  .github/workflows/integration-tests-go.yml
  pkg/api/v1/types_test.go
  pkg/controller/integration_test.go
  pkg/controller/vaultunsealconfig_controller.go
  pkg/vault/benchmark_test.go
  pkg/vault/chaos_test.go
  pkg/vault/client_refactored_test.go
  pkg/vault/client_test.go
  pkg/vault/compatibility_test.go
  pkg/vault/comprehensive_test.go
  pkg/vault/integration_extended_test.go
  pkg/vault/load_test.go
  pkg/vault/mocks.go
  pkg/vault/property_test.go
  pkg/vault/security_test.go
  pkg/vault/strategy.go
  pkg/vault/strategy_test.go
  pkg/vault/test_config.go
  pkg/vault/test_helpers.go
  pkg/vault/test_runner.go
  test/integration/README.md
  test/integration/framework/config.go
  test/integration/framework/framework.go
  test/integration/framework/infrastructure.go
  test/integration/framework/reporter.go
  test/integration/framework/types.go
  test/integration/go.mod
  test/integration/main.go
  test/integration/suites/integration_suite.go
  test/integration/testcases/crd_validation_test.go
  test/integration/testcases/operator_status_test.go
  test/integration/testcases/vault_unsealing_test.go
Due: go-mod-tidy, go-mod-verify, golangci-lint, go-test

fix: Remove unused unicode import from property_test.go
  pkg/vault/compatibility_test.go
  pkg/vault/load_test.go
  pkg/vault/property_test.go
  pkg/vault/security_test.go
  pkg/vault/test_config.go
  pkg/vault/test_helpers.go
  pkg/vault/test_runner.go
  pkg/vault/validator_test.go
Due: golangci-lint, go-test

deploy: 19a59de4088d867f39b2597ef829306f219ce571
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Resolve goroutine race conditions in test framework
  pkg/vault/block.prof
  pkg/vault/chaos_test.go
  pkg/vault/cpu.prof
  pkg/vault/mem.prof
  pkg/vault/mocks.go
  pkg/vault/mutex.prof
  pkg/vault/test_helpers.go
Due: golangci-lint, go-test

style: Fix minor golangci-lint warnings incrementally
  pkg/vault/comprehensive_test.go
  pkg/vault/load_test.go
  pkg/vault/security_test.go
  pkg/vault/test_runner.go
Due: golangci-lint, go-test

feat: Add modular test suite with build tag separation
  .golangci.yml
  docker-compose.dev.yml
  docker-compose.scenario1-dev-vault.yml
  docker-compose.scenario2-sealed-vault.yml
  docker-compose.scenario3-multi-vault.yml
  docker-compose.test.yml
  pkg/vault/benchmark_test.go
  pkg/vault/block.prof
  pkg/vault/chaos_test.go
  pkg/vault/client.go
  pkg/vault/client_refactored_test.go
  pkg/vault/client_test.go.bak
  pkg/vault/client_validation_test.go
  pkg/vault/compatibility_test.go
  pkg/vault/comprehensive_test.go
  pkg/vault/cpu.prof
  pkg/vault/error_handling_test.go
  pkg/vault/errors.go
  pkg/vault/extended_integration_negative_test.go
  pkg/vault/extended_integration_positive_test.go
  pkg/vault/integration_extended_test.go
  pkg/vault/interfaces.go
  pkg/vault/key_validation_test.go
  pkg/vault/load_test.go
  pkg/vault/mem.prof
  pkg/vault/mocks.go
  pkg/vault/modular_test.go
  pkg/vault/mutex.prof
  pkg/vault/property_test.go
  pkg/vault/security_edge_cases_test.go
  pkg/vault/security_test.go
  pkg/vault/strategy.go
  pkg/vault/strategy_test.go
  pkg/vault/test_config.go
  pkg/vault/test_helpers.go
  pkg/vault/test_report.json
  pkg/vault/test_report.txt
  pkg/vault/unsealing_flow_test.go
  pkg/vault/validator.go
  pkg/vault/validator_test.go
Due: golangci-lint, go-test

deploy: a2f2c54638f60cf32c5fbbc04fa6cf2cc0ff44f4
  sitemap.xml
  sitemap.xml.gz
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

Path conditions:
  go-mod-tidy: any of: go.mod
  go-mod-verify: any of: go.mod
  golangci-lint: any of: \.go$
  go-test: any of: \.go$
