Repository panteparak/vault-autounseal-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-mod-verify, golangci-lint, go-test

go-mod-tidy:
  name: go mod tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

go-mod-verify:
  name: go mod verify
  entry: go
  language: system
  args:
  - mod
  - verify
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: go
  language: system
  args:
  - run
  - github.com/golangci/golangci-lint/cmd/golangci-lint@latest
  - run
  - --fix
  - --timeout=5m
  pass_filenames: false

go-test:
  name: go test
  entry: go
  language: system
  args:
  - test
  - -race
  - -short
  - ./...
  pass_filenames: false

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

remove: Delete Go profiling files (.prof) from repository
  pkg/vault/block.prof
  pkg/vault/cpu.prof
  pkg/vault/mem.prof
  pkg/vault/mutex.prof
Due: none

deploy: ae0c2ed2f1d9f0c4f9af80d809f31773a1123051
  404.html
  ARCHITECTURE/index.html
  INTEGRATION_TESTING/index.html
  REFACTORING_GUIDE/index.html
  api/go-api/index.html
  architecture/index.html
  assets/javascripts/bundle.50899def.min.js
  assets/javascripts/bundle.50899def.min.js.map
  assets/javascripts/bundle.92b07e13.min.js
  assets/javascripts/bundle.92b07e13.min.js.map
  assets/javascripts/workers/search.973d3a69.min.js
  assets/javascripts/workers/search.973d3a69.min.js.map
  assets/javascripts/workers/search.d50fe291.min.js
  contributing/index.html
  examples/index.html
  getting-started/index.html
  index.html
  monitoring/index.html
  release-process/index.html
  search/search_index.json
  security/index.html
  sitemap.xml
  sitemap.xml.gz
  troubleshooting/index.html
Due: none

test: Add comprehensive fail tests for validation and integration
  pkg/testing/integration/negative_test.go
  pkg/unsealing/validation/fail_test.go
Due: golangci-lint, go-test

fix: Update Go version to 1.25 across all new workflows
  .github/workflows/ci-new.yaml
  .github/workflows/extended-new.yaml
  .github/workflows/release-new.yaml
  .github/workflows/reusable-setup.yaml
Due: none

fix: Move new workflow files to proper .github/workflows/ directory
  .github/workflows/.github/workflows/ci-new.yaml
  .github/workflows/.github/workflows/dependabot-automerge.yaml
  .github/workflows/.github/workflows/extended-new.yaml
  .github/workflows/.github/workflows/release-new.yaml
  .github/workflows/.github/workflows/reusable-build.yaml
  .github/workflows/.github/workflows/reusable-security.yaml
  .github/workflows/.github/workflows/reusable-setup.yaml
  .github/workflows/.github/workflows/reusable-test.yaml
Due: none

fix: Correct nested workflow directory structure
  .github/workflows/ci-new.yaml
  .github/workflows/dependabot-automerge.yaml
  .github/workflows/extended-new.yaml
  .github/workflows/release-new.yaml
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-security.yaml
  .github/workflows/reusable-setup.yaml
  .github/workflows/reusable-test.yaml
Due: none

fix: Downgrade Go version from 1.25 to 1.24 to resolve CI startup failures
  .github/workflows/ci-new.yaml
  .github/workflows/extended-new.yaml
  .github/workflows/release-new.yaml
  .github/workflows/reusable-setup.yaml
Due: none

fix: Add required permissions to workflows to resolve startup failures
  .github/workflows/ci-new.yaml
  .github/workflows/extended-new.yaml
  .github/workflows/release-new.yaml
Due: none

fix: Remove default Node.js version to prevent unnecessary setup
  .github/workflows/reusable-setup.yaml
Due: none

feat: ci
  .github/workflows/reusable-setup.yaml
Due: none

fix: Update golangci-lint config and test package paths
  .github/workflows/reusable-test.yaml
  .golangci.yml
Due: none

fix: Simplify golangci-lint configuration and remove unsupported timeout parameter
  .github/workflows/ci-new.yaml
  .golangci.yml
Due: none

fix: Temporarily disable golangci-lint config to use defaults
  .github/workflows/ci-new.yaml
  .golangci.yml.disabled
Due: none

feat: ci
  .github/workflows/ci-new.yaml
Due: none

feat: ci
  .github/NEW_CI_ARCHITECTURE.md
  .github/workflows/ci-new.yaml
  .github/workflows/extended-new.yaml
  .github/workflows/release-new.yaml
  .github/workflows/reusable-test.yaml
Due: none

refactor: Convert reusable-test workflow to composite action
  .github/actions/reusable-setup/action.yml
  .github/actions/run-tests/action.yml
  .github/workflows/ci-new.yaml
  .github/workflows/reusable-test.yaml.deprecated
Due: none

refactor: Convert all reusable workflows to composite actions
  .github/actions/build-image/action.yml
  .github/actions/reusable-setup/action.yml
  .github/actions/security-scan/action.yml
  .github/actions/setup/action.yml
  .github/workflows/ci-new.yaml
Due: none

fix: Correct test directory structure for integration and e2e tests
  .github/actions/run-tests/action.yml
Due: none

cleanup: Remove duplicate CI workflows and old reusable workflows
  .github/workflows/ci-new.yaml
  .github/workflows/extended-new.yaml.disabled
  .github/workflows/release-new.yaml.disabled
  .github/workflows/reusable-build.yaml
  .github/workflows/reusable-security.yaml
  .github/workflows/reusable-setup.yaml
  .github/workflows/reusable-test.yaml.deprecated
Due: none

feat: ci
  .github/actions/go-setup/action.yml
  .github/actions/helm-validate/action.yml
  .github/actions/run-e2e-tests/action.yml
  .github/actions/run-integration-tests/action.yml
  .github/actions/run-tests/action.yml
  .github/actions/run-unit-tests/action.yml
  .github/workflows/README.md
  .github/workflows/ci-new.yaml
  .github/workflows/extended-new.yaml.disabled
  .github/workflows/release-new.yaml.disabled
Due: none

refactor: Complete CI architecture with test-specific composite actions
  .github/actions/helm-validate/action.yml
  .github/actions/run-e2e-tests/action.yml
  .github/actions/run-integration-tests/action.yml
  .github/actions/run-unit-tests/action.yml
  pkg/controller/controller_test.go
  pkg/unsealing/client/client.go
  pkg/unsealing/validation/edge_cases_test.go
  pkg/unsealing/validation/validation_test.go
  pkg/vault/client_test.go
  tests/go.mod
  tests/go.sum
  tests/unit/controller/controller_test.go
  tests/unit/mocks/vault_client_mock.go
  tests/unit/validation/edge_cases_test.go
  tests/unit/validation/fail_test.go
Due: go-mod-tidy, go-mod-verify, golangci-lint, go-test

fix: Resolve CI compatibility issues for make test-unit
  tests/Makefile
  tests/unit/validation/validation_test.go
  tests/unit/vault/client_test.go
Due: golangci-lint, go-test

refactor: Fix unit tests to use mocks instead of external services
  tests/unit/vault/client_test.go
Due: golangci-lint, go-test

fix: Resolve coverage generation issues by excluding mocks package
  tests/Makefile
Due: none

fix: Complete CI coverage generation and unit test fixes
  .github/CI_SUMMARY.md
  .github/NEW_CI_ARCHITECTURE.md
  .github/WORKFLOW_MIGRATION_GUIDE.md
  .github/actions/go-setup/action.yml
  .github/actions/run-unit-tests/action.yml
  .github/workflow-backup/README.md
  .github/workflow-backup/ci-extended.yaml
  .github/workflow-backup/ci-primary.yaml
  .github/workflow-backup/docs-optimized.yaml
  .github/workflow-backup/release-optimized.yaml
  .github/workflow-backup/weekly-deep-analysis.yaml
  .github/workflows/README.md
  pkg/unsealing/validation/validation_test.go
  tests/Makefile
  tests/unit/validation/validation_test.go
Due: golangci-lint, go-test

fix: Remove unused import in integration tests
  tests/integration/vault_integration_legacy_test.go
Due: golangci-lint, go-test

feat: ci
  tests/e2e/e2e_workflow_test.go
Due: golangci-lint, go-test

fix: Use reliable test network address for E2E error recovery
  tests/e2e/e2e_workflow_test.go
Due: golangci-lint, go-test

feat: ci
  .github/actions/run-e2e-tests/action.yml
  .github/workflows/ci-new.yaml
  tests/e2e/e2e_workflow_test.go
  tests/integration/shared/README.md
  tests/integration/shared/examples.go
  tests/integration/shared/integration_suite.go
  tests/integration/shared/test_suites.go
Due: golangci-lint, go-test

feat: ci
  .golangci.yml
  Makefile
  go.mod
  main.go
  pkg/controller/controller_modern_test.go
  pkg/controller/controller_test.go
  pkg/controller/vaultunsealconfig_controller.go
  pkg/core/types/errors.go
  pkg/logging/logger.go
  pkg/metrics/metrics.go
  pkg/operator/controller/controller/vaultunsealconfig_controller.go
  pkg/testing/mocks/mocks.go
  pkg/testing/testutil/testutil.go
  pkg/unsealing/client/client.go
  pkg/unsealing/strategy/strategy.go
  pkg/unsealing/validation/edge_cases_test.go
  pkg/unsealing/validation/fail_test.go
  pkg/unsealing/validation/strict_validator.go
  pkg/unsealing/validation/validation_test.go
  pkg/vault/client.go
  pkg/vault/client_test.go
  pkg/vault/errors.go
  pkg/vault/integration_debug.go
  pkg/vault/integration_framework.go
  pkg/vault/mocks.go
  pkg/vault/strategy.go
  pkg/vault/test_helpers.go
  pkg/vault/test_runner.go
  pkg/vault/validator.go
Due: go-mod-tidy, go-mod-verify, golangci-lint, go-test

feat: ci
  tests/Makefile
  tests/e2e/k8s_integration_test.go
  tests/go.mod
  tests/integration/controller_reconciliation_test.go
  tests/integration/shared/examples.go
  tests/integration/shared/integration_suite.go
  tests/integration/shared/test_suites.go
  tests/unit/controller/controller_test.go
  tests/unit/logging/logging_test.go
  tests/unit/metrics/metrics_test.go
Due: go-mod-tidy, go-mod-verify, golangci-lint, go-test

feat: ci
  .github/workflows/docs.yml
  .github/workflows/release.yml
  Makefile
  tests/integration/failover_test.go
  tests/integration/integration_test.go
  tests/integration/k3s_crd_test.go
  tests/integration/k8s_integration_test.go.bak
  tests/integration/multi_vault_test.go
  tests/integration/negative_test.go.bak
  tests/integration/operator_status_test.go
  tests/integration/shared/integration_suite.go
  tests/integration/vault_integration_legacy_test.go.bak
Due: golangci-lint, go-test

Path conditions:
  go-mod-tidy: any of: go.mod
  go-mod-verify: any of: go.mod
  golangci-lint: any of: \.go$
  go-test: any of: \.go$
